In [11]:
import numpy as np
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

In [8]:
x_train = pd.read_csv('./x_train.csv', index_col='ID')
y_train = pd.read_csv('./y_train.csv', index_col='ID')
train = pd.concat([x_train, y_train], axis=1).dropna()
test = pd.read_csv('./x_test.csv', index_col='ID').dropna()

In [73]:
ret_cols = [col for col in x_train.columns if 'RET' in col]


total_size = len(train['DATE'].unique())
#models = {}

model_order = (5, 0, 5)  # ARMA(1,1) model

In [ ]:
idx = 0
prediction=[]
for date, idx in zip(train['DATE'],tqdm(range(total_size))):
    for stock in train[train['DATE']==date]['STOCK']:
        #print(date,stock)
        stock_data = train[train['DATE']==date][train['STOCK']==stock][ret_cols].values[0]
        
        model = ARIMA(stock_data, order=model_order)
        model_fit = model.fit()
        prediction+=[model_fit.forecast(1)]
        #models[idx] = model_fit

 86%|██████████████████████████████▎    | 134/155 [11:56:18<1:53:40, 324.79s/it]

In [72]:
models[10].forecast(1)

array([0.016257])

In [35]:

stock_data[ret_cols]

,RET_1,RET_2,RET_3,RET_4,RET_5,RET_6,RET_7,RET_8,RET_9,RET_10,RET_11,RET_12,RET_13,RET_14,RET_15,RET_16,RET_17,RET_18,RET_19,RET_20
DATE,,,,,,,,,,,,,,,,,,,,
21,0.005376,-0.005348,-0.005319,-0.010526,-0.020619,0.015707,-0.030457,-0.005051,-0.029412,0.004926,0.000000,-0.004902,-0.019231,0.024631,-0.004902,0.009901,-0.019417,0.004878,0.000000,0.014851
28,0.005747,0.023529,-0.022989,-0.016949,-0.011173,-0.005556,-0.037433,-0.020942,-0.045000,-0.004975,0.005000,0.020408,0.015544,0.015789,0.005291,-0.030769,0.015625,0.005236,0.026882,-0.005348
65,0.038251,-0.010811,-0.015957,0.005348,-0.015789,0.016043,0.016304,0.000000,0.000000,-0.016043,0.005376,-0.010638,-0.050505,0.015385,-0.020101,-0.024510,0.079365,0.027174,0.010989,-0.016216
116,0.009709,0.014778,-0.009756,-0.014423,-0.009524,0.039604,0.000000,0.015075,0.010152,-0.005051,-0.010000,0.030928,-0.020202,0.005076,0.020725,0.015789,0.010638,-0.010526,0.005291,0.005319
143,-0.019608,-0.043750,-0.075145,0.000000,-0.022599,-0.005618,-0.037838,0.010929,0.011050,-0.010929,0.022346,-0.016484,-0.005464,0.016667,-0.032258,0.005405,-0.041451,0.000000,-0.035000,0.058201
211,0.016667,0.000000,0.022727,-0.011236,0.000000,0.053254,-0.091398,0.010870,0.121951,0.058065,-0.012739,-0.012579,0.000000,0.000000,-0.024540,0.000000,-0.018072,0.037500,0.032258,0.000000

In [17]:
feature = 'RET'
ret_cols = f'{feature}_4'

In [18]:
ret_cols

'RET_4'

In [21]:
model = ARIMA(stock_data, order=model_order)
model_fit = model.fit()
#prediction+=[model_fit.forecast(1)]

In [25]:
len(prediction)/total_size

0.003485485103132162

In [40]:
res = y_train.copy
#res.values =

In [47]:
pred = np.array(prediction)>0

In [72]:
count = 0
for jj in range(len(pred)):
    if pred[jj][0] == y_train.values[jj]:
        count+=1
print(count/len(pred))

0.4995256166982922

With (1,0,1) ARIMA model, I got 49.95% accuracy and it took 4 hours to get there.